@import '~bootstrap/scss/bootstrap';

section#jumbo {
    width: 100%;
    height: 500px;
    background-image: url(../assets/images/jumbotron.jpg);
}

footer section#top-footer {
    height: 300px; //To remove
    background-image: url(../assets/images/footer-bg.jpg);
}

footer section#bottom-footer {
    background-color: #303030;
}