@import '~bootstrap/scss/bootstrap';
$comic-blue: #0282f9;
// ----------- HEADER ----------- //

section#jumbo {
    width: 100%;
    height: 500px;
    background-image: url(../assets/images/jumbotron.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

header nav ul {
    display: flex;

    li {
        list-style-type: none;
        margin: 0 .5rem;

        a {
            text-decoration: none;
            text-transform: uppercase;
            color: black;
            font-weight: bold;

            &:hover {
                color: $comic-blue;
            }
        }
    }
}

// ----------- WELCOME ----------- //
section#welcome {
    height: 300px;

    h1 {
        font-weight: 700;
        text-transform: uppercase;
    }

}

// ----------- COMICS ----------- //
main#home {
    background-color: #1c1c1c;

    div.title-series-section {
        position: absolute;
        top: 0;
        transform: translateY(-55%);
        background-color: $comic-blue;
        color: white;
        padding: .8rem 1.5rem;

        h2 {
            font-weight: 700;
            text-transform: uppercase;
        }

    }

}

// ----------- SINGLE ----------- //
main#single {
    div.comic-thumb {
        background-color: $comic-blue;
        height: 80px;

        img {
            position: absolute;
            top: 0;
            transform: translateY(-85%);
        }
    }

    section#other-info-comic {
        background-color: #f6f6f6;
        border-top: 1px solid rgb(161, 161, 161);
        padding: 1rem 0;
    }

}


// ----------- FOOTER ----------- //
section#top-footer {
    background-image: url(../assets/images/footer-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

div.nav-info {
    padding: 2rem 0;
}

div.single-nav {
    margin-right: 2rem;
    width: max-content;

    h2 {
        font-weight: bold;
        font-size: 1.5rem;
        margin-bottom: .5rem;
        color: $white;
        text-transform: uppercase;
    }

    ul li {
        list-style-type: none;
        margin: .15rem 0;

        a {
            text-decoration: none;
            color: $white;
            font-weight: 300;
            font-size: .8rem;
            filter: opacity(.6);

            &:hover {
                filter: opacity(1);
            }
        }
    }
}

div.shop-nav {
    margin-top: 1.5rem;
}

div.nav-info nav {
    padding: 0 1rem;
}

div.dc-bg-img {
    width: 100%;
    position: relative;
    overflow: hidden;

    img {
        height: 150%;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
    }
}

footer section#bottom-footer {
    background-color: #303030;
}