@import '~bootstrap/scss/bootstrap';
$comic-blue: #0282f9;
// ----------- HEADER ----------- //

section#jumbo {
    width: 100%;
    height: 500px;
    background-image: url(../assets/images/jumbotron.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

header nav {
    height: 150px;

    ul {
        height: 100%;
        display: flex;
        margin: 0;

        li {
            list-style-type: none;
            margin: 0 .5rem;
            display: flex;
            align-items: center;
            border-bottom: 5px solid transparent;



            a {
                text-decoration: none;
                text-transform: uppercase;
                color: black;
                font-weight: bold;

                &:hover {
                    color: $comic-blue;
                }
            }
        }

        li.active {
            border-bottom: 5px solid $comic-blue;
        }
    }
}

// ----------- WELCOME ----------- //
section#welcome {
    height: 300px;

    h1 {
        font-weight: 700;
        text-transform: uppercase;
    }

}

// ----------- COMICS ----------- //
main#home {
    background-color: #1c1c1c;

    div.title-series-section {
        position: absolute;
        top: 0;
        transform: translateY(-55%);
        background-color: $comic-blue;
        color: white;
        padding: .8rem 1.5rem;

        h2 {
            font-weight: 700;
            text-transform: uppercase;
        }
    }

    div.single-card {
        margin: 2rem 0;
    }

    div.img-container {
        img {
            width: 200px;
            height: 200px;
            margin: 0 auto;
        }

    }
}

// ----------- SINGLE ----------- //
main#single {
    div.comic-thumb {
        background-color: $comic-blue;
        height: 80px;

        img {
            position: absolute;
            top: 0;
            transform: translateY(-85%);
        }
    }

    section#other-info-comic {
        background-color: #f6f6f6;
        border-top: 1px solid rgb(161, 161, 161);
        padding: 1rem 0;
    }

    div.info-title {
        padding-bottom: 2rem;

        h3 {
            font-weight: bold;
        }
    }

    div.info-title,
    div.single-info {
        border-bottom: 1px solid rgb(161, 161, 161);
    }

    div.single-info {
        padding: .5rem 1rem;
    }

    .spec-text-blue {
        color: $comic-blue;
    }

    div.price-box {
        background-color: #55ba59;
        color: white;

        .text-opacity {
            opacity: .5;
        }

        div.col-8 {
            border-right: 1px solid black;
        }
    }

}



// ----------- FOOTER ----------- //
section#top-footer {
    background-image: url(../assets/images/footer-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

div.nav-info {
    padding: 2rem 0;
}

div.single-nav {
    margin-right: 2rem;
    width: max-content;

    h2 {
        font-weight: bold;
        font-size: 1.5rem;
        margin-bottom: .5rem;
        color: $white;
        text-transform: uppercase;
    }

    ul {
        padding: 0;

        li {
            list-style-type: none;
            margin: .20rem 0;

            a {
                text-decoration: none;
                color: $white;
                font-weight: 300;
                font-size: .8rem;
                filter: opacity(.6);

                &:hover {
                    filter: opacity(1);
                }
            }
        }
    }
}

div.shop-nav {
    margin-top: 1.5rem;
}

div.nav-info nav {
    padding: 0 1rem;
}

p.copyright {
    width: 130%;
    position: relative;
    font-size: .9rem;
    color: white;

    a {
        text-decoration: none;
        color: $comic-blue;
    }
}

div.dc-bg-img {
    width: 100%;
    position: relative;
    overflow: hidden;

    img {
        height: 150%;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
    }
}

footer section#bottom-footer {
    background-color: #303030;

    a.sign-up-btn {
        text-decoration: none;
        color: white;
        border: 3px solid $comic-blue;
        padding: .8rem 1.5rem;

        &:hover {
            background-color: $comic-blue;
        }
    }

    div.follow-us button {
        width: 40px;
        height: 40px;
        background-color: #797979;
        border: none;
        padding: 1rem;
        border-radius: 50%;
        margin: 0.2rem;
        padding: 0;
        transition: all .3s;

        i {
            color: #303030;
            font-size: 1.3rem;
            margin-top: .3rem;
        }

        &:hover {
            background-color: $comic-blue;

            i {
                color: white;
            }
        }
    }
}